<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-grid class="container">
    <ion-row class="top-section">
      <ion-col>
        <!-- top section -->
      </ion-col>
    </ion-row>

    <ion-row class="bottom-section">
      <ion-col>

        <span class="sub-header">Anna</span>
        <h4 class="ion-no-margin header">Super Market</h4>

        <form [formGroup]="loginForm">
          <ion-list class="input-section ">
            <ion-item class="ion-no-padding">
              <ion-label position="floating">Username</ion-label>
              <ion-input formControlName="name"></ion-input>
            </ion-item>

            <ion-item class="ion-no-padding">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
          </ion-list>

          <ion-button [disabled]="loginForm.invalid" expand="full" color="primary" (click)="doLogin()">Login</ion-button>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>