<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>categories</ion-title>
  </ion-toolbar>
  <!--   <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchString"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-list>
    <ng-container *ngFor="let category of categories">
      <ion-item class="list-header" (click)="onExpand(category)">
        <ion-label class="ion-text-wrap">
          <p class="text-12">{{category?.id}}</p>
          <h2>{{category?.name}}</h2>
        </ion-label>
        <ion-icon [name]="category?.expanded ? 'arrow-up' : 'arrow-down'" slot="end"></ion-icon>
      </ion-item>

      <ion-list *ngIf="category?.expanded">
        <ion-item *ngFor="let item of category.subCategory" (click)="toProducts(item)" lines="full">
          <ion-label class="ion-text-wrap">
            <p class="text-12">{{item?.id}}</p>
            <h2>{{item?.name}}</h2>
            <p>{{item?.noOfProducts}} Products</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </ng-container>
  </ion-list>

</ion-content>