<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>

    <ion-buttons slot="end">
      <ion-buttons>
        <ion-button color="secondary" (click)="doLogout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item> -->

  <span *ngIf="orderForm.get('items').length > 0 ; then  DataList ; else NoRecords"></span>

  <ng-template #DataList>
    <form [formGroup]="orderForm">
      <ion-list>
        <ng-container formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i = index;">

          <div [formGroupName]="i">
            <ion-item lines="full">
              <ion-thumbnail slot="start">
                <img [src]="item.get('imgUrl').value">
              </ion-thumbnail>
              <ion-label>
                <ion-chip outline color="danger" class="custom-chip" *ngIf="item.get('isNew').value">
                  <ion-label class="text-11">New</ion-label>
                </ion-chip>
                <h2>{{item.get('name').value}}</h2>
                <p>{{item.get('description').value}}</p>

                <ion-row>
                  <ion-col>
                    <p>Qty: {{item.get('availableQuantity').value}}</p>
                  </ion-col>
                  <ion-col>
                    <p> {{item.get('barcode').value}}</p>
                  </ion-col>
                </ion-row>
              </ion-label>

            </ion-item>
            <ion-item>
              <ion-label color="secondary">In Cart:</ion-label>
              <span class="input-selection">
                <ion-input type="number" min="0" formControlName="orderedQuantity"></ion-input>
              </span>
              <!-- <span class="text-12 text-medium">{{item.get('uom')}}</span> -->
              <ion-button [disabled]="!item.get('orderedQuantity').dirty" color="success" fill="outline" slot="end"
                (click)="addToCart(item)">
                UPDATE
              </ion-button>
              <ion-button color="danger" fill="outline" slot="end" (click)="deleteFromCart(item)">
                DELETE</ion-button>
            </ion-item>
            <ion-item class="separator">
            </ion-item>
          </div>
        </ng-container>
      </ion-list>
    </form>
  </ng-template>

  <ng-template #NoRecords>
    <no-content [text]="'Please add some products!'"></no-content>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar (click)="onSubmit()" [ngClass]="{'disabled':orderForm.invalid}">
    <ion-buttons slot="end">
      <!-- <ion-note slot="end" color="primary">99</ion-note> -->
      <ion-button>
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Submit Order</ion-title>
  </ion-toolbar>
</ion-footer>