.custom-chip {
  height: 15px;
}

/* .input-selection {
  width: 50px;
  border-bottom: 1px solid #dfe3ee;
  margin: 0 10px;
}

.input-selection input {
  padding: 2px;
  height: 30px;
} */

ion-toolbar.disabled {
  --background: var(--ion-color-medium);
  cursor: not-allowed;
}
