<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>

    <ion-buttons slot="end">
      <ion-chip outline color="primary">
        <ion-icon name="notifications"></ion-icon>
        <ion-label>13</ion-label>
      </ion-chip>
      <ion-button color="secondary" (click)="doLogout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<!-- <ion-toolbar>
  <ion-searchbar [(ngModel)]="searchString"></ion-searchbar>
</ion-toolbar> -->

<ion-content>

  <ion-list>
    <ng-container *ngFor="let item of products | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img [src]="item.imgUrl">
        </ion-thumbnail>
        <ion-label>
          <ion-chip outline color="danger" class="custom-chip" *ngIf="item.isNew">
            <ion-label class="text-11">New</ion-label>
          </ion-chip>
          <h2>{{item?.name}}</h2>
          <p>{{item?.description}}</p>

          <ion-row>
            <ion-col>
              <p>Qty: {{item?.avilableQuantity}}</p>
            </ion-col>
            <ion-col>
              <p> {{item?.barcode}}</p>
            </ion-col>
          </ion-row>
        </ion-label>

      </ion-item>

      <ion-item class="separator">
      </ion-item>
    </ng-container>
  </ion-list>

  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </ion-toolbar>
</ion-footer> -->