/* ion-content {
  --ion-background-color: #f7f7f7;
} */

.header-section {
  margin: 0 15px;
}

.img-thumpnail {
  height: 200px;
}

.custom-chip {
  height: 15px;
}

/* .input-selection {
  width: 50px;
  border-bottom: 1px solid #dfe3ee;
  margin: 0 10px;
}

.input-selection input {
  padding: 2px;
  height: 30px;
} */
