/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.container {
  height: 100%;
}

.text-right {
  text-align: right;
}

.text-11 {
  font-size: 11px !important;
}

.text-12 {
  font-size: 12px;
}

.text-medium {
  color: #989aa2;
}

/* ion-header ion-toolbar {
  --background: #0000ff;
  --color: white;
} */

ion-footer ion-toolbar {
  --background: var(--ion-color-primary);
  --color: white;
}

ion-footer ion-toolbar ion-title {
  font-size: 14px;
}

.separator {
  height: 10px;
  --background: var(--ion-color-light);
}

.align-center {
  text-align: center;
}

/* input {
  padding: 5px !important;
} */

ion-label {
  font-size: 13px;
}

ion-item .list-item {
  width: 100%;
  padding: 5px;
}

.text-secondary {
  font-size: 13px !important;
  color: var(--ion-color-secondary);
  margin: 5px 0 !important;
}
