<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>

    <ion-buttons slot="end">
      <ion-buttons>
        <ion-button color="secondary" (click)="doLogout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-icon name="power-outline"></ion-icon> -->
<!-- <ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar> -->

<ion-content>

  <span *ngIf="orders?.length > 0 ; then  DataList ; else NoRecords"></span>

  <ng-template #DataList>
    <ion-list>
      <ng-container *ngFor="let item of orders">
        <ion-row [class]="item.status">
          <ion-col size="3" class="align-center">
            <span class="title">{{item?.orderId}}</span> <br>
            <span class="status">{{item?.status}}</span>
          </ion-col>
          <ion-col align-self-start>
            <span class="label">Created:</span> <br>
            <span class="text-content"> {{item?.createdOn}}</span>

          </ion-col>

          <ion-col align-self-start>
            <span class="label">Delivered:</span> <br>
            <span class="text-content"> {{item?.deliveredOn}}</span>
          </ion-col>
        </ion-row>
        <ion-item class="separator">
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-template>

  <ng-template #NoRecords>
    <no-content [text]="'No orders found!'"></no-content>
  </ng-template>

</ion-content>

<ion-footer class="my-footer">
  <ion-toolbar (click)="onNavigate('categories')" transparent>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Purchase Order</ion-title>
  </ion-toolbar>
</ion-footer>