<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="role==='ADMIN'" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{name}}
    </ion-title>

    <ion-buttons slot="end">
      <!--  <ion-button color="success" (click)="toCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button> -->
      <ion-buttons>
        <ion-button color="secondary" (click)="doLogout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <span *ngIf="orders?.length > 0 ; then  DataList ; else NoRecords"></span>

  <ng-template #DataList>
    <ion-list>
      <ng-container *ngFor="let item of orders | reverse">
        <ion-item detail="true" lines="none" (click)="toDetails(item.id)">
          <ion-row class="list-item"
            [ngClass]="{'Delivered' : item.actualDeliveryDate , 'Created' : !item.actualDeliveryDate}">
            <ion-col size="3" class="align-center">
              <span class="title">{{item?.id}}</span> <br>
              <span class="status">{{item?.status}}</span>
            </ion-col>
            <ion-col align-self-start>
              <span class="label">Created On:</span> <br>
              <span class="text-content"> {{item?.orderDate}}</span>

            </ion-col>

            <ion-col align-self-start>
              <span class="label">Branch:</span> <br>
              <span class="text-content"> {{item?.branch.name}}</span>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="separator">
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-template>

  <ng-template #NoRecords>
    <no-content [text]="'No orders found!'"></no-content>
  </ng-template>

</ion-content>

<ion-footer *ngIf="role === 'BRANCH'" class="my-footer">
  <ion-toolbar (click)="onNavigate('categories')" transparent>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Purchase Order</ion-title>
  </ion-toolbar>
</ion-footer>